.card-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.card-boxes .box {
  min-height: 3rem;
  -webkit-box-shadow: 1px 1px 1rem 1px #3333;
          box-shadow: 1px 1px 1rem 1px #3333;
}

